body {
  background: #fff;
}

body, div, span, td {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",Lucida Grande,"メイリオ", Meiryo, Tahoma, Verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

input[type="text"] {
  border: 1px solid #ddd;
}

input[type="text"]:focus {
  outline: 0;
  border-color: orange;
}

textarea {
  border: 1px solid #ddd;
}

textarea:focus {
  outline: 0;
  border-color: orange;
}
