

.arrow-right {
  position: relative;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.arrow-right::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -2px;
  border-left: 10px solid #ccc;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.line-vertical {
  width:4px;
  height: 100%;
  background: #ccc;
}

.basic-select {
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.basic-select select {
width: 100%;
padding-right: 1em;
cursor: pointer;
text-indent: 0.01px;
text-overflow: ellipsis;
border: none;
outline: none;
background: transparent;
background-image: none;
box-shadow: none;
-webkit-appearance: none;
appearance: none;
padding: 8px 38px 8px 8px;
color: #666666;
}
.basic-select select::-ms-expand {
display: none;
}

.basic-select::before {
position: absolute;
top: 14px;
right: 0.9em;
width: 0;
height: 0;
padding: 0;
content: '';
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #666666;
pointer-events: none;
}
